.container {
  border: 1px solid black;
  border-radius: 4px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.text {
  padding-left: 15px;
  margin: 0;
}

.wrapper {
  display: flex;
  padding-left: 15px;
}
